 html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #4E4E4E;
	width: 100%;
	height:100%;
	scroll-behavior: smooth;
}
.contact-icon{
	color: white;
	stroke-width: 1;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 4px;
	margin-right: 4px;
	padding: 8px;
}
.contact-icon:hover{
	transform: scale(1.1);
}
.icon-fb{
	margin-left: 0px;
}
.icon-linkedin{
	margin-right: 0px;
}
.headdiv{
	height: 280px;
	width: 100%;
	background-color: #3C3A3B;
}
.content-life{
	text-align: left;
	font-size: 16px;
	width: 30em;
	margin-bottom: 60px;
}
.logo{
    float: left;
	border-radius: 50%;
	margin-top: 50px;
	margin-right: 32px;
	border: 1px solid white;
}
.content-header{
	width: 30em;
	margin: auto;
	overflow: hidden;
}
.name{
	color: white;
	font-size: 40px;
	font-weight: 400;
}
.name-contact{
	padding-top: 55px;
}
a {
	color: #3C3A3B;
	text-decoration: none;
}
.ua{
	text-decoration: underline;
}
a:hover {
	color: #3C3A3B;
}
.professional{
	color: white;
	font-size: 20px;
	font-weight: 100;
}
.footer {
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	background-color: #4E4E4E;
	color: white;
	text-align: center;
}
.copyright{
	font-weight: 100;
}
.life-title{
    border-bottom: 1px solid #4E4E4E;
    display: inline-block;
}
.content-text{
	text-align: justify;
}
.round-border{
	border: 1px solid #4E4E4E;
	border-radius: 100px;
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 2px;
    display: inline-block;
	color: #4E4E4E;
}
.v-center{
	display: inline-block;
	vertical-align: top;
}
hr{
	width: 100px;
	border: none;
	height: 1px;
	background-color: #AA4E4E4E;
}

@media screen and (max-width: 39em) {
	.headdiv{
		height: 100%;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	.logo{
		margin-top: 40%;
		margin-right: 0px;
		float: none;
	}
	.content-header{
		width: 100%;
	}
	.content-life{
		width: 90%;
		margin-bottom: 0px;
	}
	.name-contact{
		width: 100%;
		float: none;
		margin-left: 0px;
		position: center;
		padding: 0px;
		margin: 0px;
		text-align: center;
		left: 0px;
	}
	.footer{
		padding-top: 4px;
		padding-bottom: 4px;
		position: relative;
	}
}