 html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #4E4E4E;
	height:100%;
	scroll-behavior: smooth;
}
.contact-icon{
	color: white;
	stroke-width: 1;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 4px;
	margin-right: 4px;
	padding: 8px;
}
.contact-icon:hover{
	transform: scale(1.1);
}
.icon-fb{
	margin-left: 0px;
}
.icon-linkedin{
	margin-right: 0px;
}
.headdiv{
	height: 280px;
	background-color: #3C3A3B;
}
.content-life{
	text-align: left;
	font-size: 16px;
	width: 30em;
}
.logo{
    float: left;
	border-radius: 50%;
	margin-top: 50px;
	margin-right: 32px;
	border: 1px solid white;
}
.content-header{
	width: 30em;
	margin: auto;
	overflow: hidden;
}
.name{
	color: white;
	font-size: 40px;
	font-weight: 400;
}
.name-contact{
	padding-top: 55px;
}
a {
	color: #3C3A3B;
	text-decoration: none;
}
a:hover {
	color: #3C3A3B;
}
.professional{
	color: white;
	font-size: 20px;
	font-weight: 100;
}
.arrow{
	color: white;
	display: none;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #4E4E4E;
	color: white;
	text-align: center;
}
.copyright{
	font-weight: 100;
}
@media screen and (max-width: 39em) {
	.headdiv{
		height: 100%;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	.logo{
		margin-top: 40%;
		margin-right: 0px;
		float: none;
	}
	.content-header{
		width: 100%;
	}
	.content-life{
		width: 90%;
	}
	.arrow{
		display: block;
	}
	.name-contact{
		width: 100%;
		float: none;
		margin-left: 0px;
		position: center;
		padding: 0px;
		margin: 0px;
		text-align: center;
		left: 0px;
	}
	.footer{
		padding: 4px;
		position: relative;
	}
	.arrow {
		text-align: center;
		width: 100%;
		margin: 20% 0;
	}
	.bounce {
		-moz-animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		animation: bounce 2s infinite;
	}
	@keyframes bounce {
  		0%, 20%, 50%, 80%, 100% {
    		transform: translateY(0);
  		}
  		40% {
    		transform: translateY(-30px);
		}
		60% {
    		transform: translateY(-15px);
		}
	}
}